-- UDC portable database creation script
-- Original schema/data: R.Lisovenko, 21.09.2026.
-- Source: Converter_NEW_UDC_full.sql.
-- Run this ENTIRE file in SSMS New Query on SQL Server (Windows/Linux/Docker).
-- No SQLCMD mode required. Requires CREATE DATABASE permission.
-- Uses server default file locations and compatibility level.
-- Does not overwrite existing databases. No automatic DROP or migrations.
-- Schema/data transaction rolls back on failure; empty database may remain.
-- Original data preserved. Static checks only; live execution not tested.
USE [master];
SET NOCOUNT ON;
SET XACT_ABORT ON;
SET ANSI_NULLS ON;
SET QUOTED_IDENTIFIER ON;
-- Change the database name here only:
DECLARE @DatabaseName sysname = N'Converter_UDC';
IF @@TRANCOUNT <> 0
    THROW 50000, 'Run outside an existing transaction.', 1;
IF @DatabaseName IS NULL OR LEN(LTRIM(RTRIM(@DatabaseName))) = 0
    THROW 50001, 'Database name must not be empty.', 1;
IF DB_ID(@DatabaseName) IS NOT NULL
    THROW 50002, 'Database already exists. Nothing changed. Choose another name.', 1;
DECLARE @Command nvarchar(max);
SET @Command = N'CREATE DATABASE ' + QUOTENAME(@DatabaseName) + N';';
EXEC sys.sp_executesql @Command;
SET @Command = N'USE ' + QUOTENAME(@DatabaseName) + N';
SET XACT_ABORT ON;
SET ANSI_NULLS ON;
SET ANSI_PADDING ON;
SET ANSI_WARNINGS ON;
SET ARITHABORT ON;
SET CONCAT_NULL_YIELDS_NULL ON;
SET NUMERIC_ROUNDABORT OFF;
SET QUOTED_IDENTIFIER ON;
BEGIN TRY
BEGIN TRANSACTION;
';
-- Source batch 1
SET @Command = @Command + N'EXEC sys.sp_executesql N''/****** Object:  Schema [audit]    Script Date: 9/21/2026 11:08:37 AM ******/
CREATE SCHEMA [audit]'';
';
-- Source batch 2
SET @Command = @Command + N'EXEC sys.sp_executesql N''/****** Object:  Schema [cfg]    Script Date: 9/21/2026 11:08:37 AM ******/
CREATE SCHEMA [cfg]'';
';
-- Source batch 3
SET @Command = @Command + N'EXEC sys.sp_executesql N''/****** Object:  Schema [core]    Script Date: 9/21/2026 11:08:37 AM ******/
CREATE SCHEMA [core]'';
';
-- Source batch 4
SET @Command = @Command + N'EXEC sys.sp_executesql N''/****** Object:  Schema [staging]    Script Date: 9/21/2026 11:08:37 AM ******/
CREATE SCHEMA [staging]'';
';
-- Source batch 5
SET @Command = @Command + N'EXEC sys.sp_executesql N''/****** Object:  Table [dbo].[data_measurement]    Script Date: 9/21/2026 11:08:37 AM ******/
SET ANSI_NULLS ON'';
';
-- Source batch 6
SET @Command = @Command + N'EXEC sys.sp_executesql N''SET QUOTED_IDENTIFIER ON'';
';
-- Source batch 7
SET @Command = @Command + N'EXEC sys.sp_executesql N''CREATE TABLE [dbo].[data_measurement](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[PatientName] [varchar](200) NOT NULL,
	[MeasurDate] [datetime2](3) NOT NULL,
	[ParameterID] [int] NOT NULL,
	[ParameterName] [varchar](200) NULL,
	[MeasurVal] [decimal](18, 6) NULL,
	[UnitCode] [varchar](32) NULL,
	[SourceSystemID] [int] NOT NULL,
	[SourceSystemName] [varchar](200) NULL,
	[ImportBatchID] [uniqueidentifier] NULL,
	[ExportBatchID] [uniqueidentifier] NULL,
	[CreateDate] [datetime2](3) NOT NULL,
	[UpdDate] [datetime2](3) NULL,
	[Comment] [varchar](1000) NULL,
	[ExpDate] [datetime2](3) NULL,
 CONSTRAINT [PK_data_measurement] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]'';
';
-- Source batch 8
SET @Command = @Command + N'EXEC sys.sp_executesql N''/****** Object:  View [dbo].[vw_data_measure_map]    Script Date: 9/21/2026 11:08:37 AM ******/
SET ANSI_NULLS ON'';
';
-- Source batch 9
SET @Command = @Command + N'EXEC sys.sp_executesql N''SET QUOTED_IDENTIFIER ON'';
';
-- Source batch 10
SET @Command = @Command + N'EXEC sys.sp_executesql N''/* 
    VIEW does not store data physically.
    It shows transformed data from dbo.data_measurement
    in the standardized export structure.
*/

CREATE   VIEW [dbo].[vw_data_measure_map]
(
    SubjID,         -- Standardized subject identifier
    SubjName,       -- Anonymized subject name
    EventDate,      -- Date/time when the measurement occurred
    ExpDate,        -- Current UTC time when the VIEW is queried
    ParameterID,    -- Measurement parameter identifier
    ParameterName,  -- Measurement parameter name
    DataValue,      -- Measurement value
    Unit,           -- Measurement unit
    Comment         -- Optional comment
)
AS
SELECT
    dmes.PatientID,     -- PatientID is mapped to the standardized subject ID
    CONCAT(''''Anonymized Patient-'''', dmes.PatientID),-- Real patient name is not exported.Example: PatientID = 1 -> "Anonymized Patient 1"
    dmes.MeasurDate,    -- Original measurement date/time
    SYSUTCDATETIME(),   -- UTC date/time when data is read from the VIEW
    dmes.ParameterID,   -- Parameter fields are transferred directly
    dmes.ParameterName, -- Parameter fields are transferred directly
    dmes.MeasurVal,     -- Internal MeasurVal is renamed to standardized DataValue
    dmes.UnitCode,      -- Internal UnitCode is renamed to standardized Unit
    dmes.Comment        -- Optional comment. On reverse import, an incoming comment can be merged/appendedwith the existing internal comment instead of replacing it.
FROM dbo.data_measurement AS dmes;'';
';
-- Source batch 11
SET @Command = @Command + N'EXEC sys.sp_executesql N''/****** Object:  Table [dbo].[data_measure_map]    Script Date: 9/21/2026 11:08:37 AM ******/
SET ANSI_NULLS ON'';
';
-- Source batch 12
SET @Command = @Command + N'EXEC sys.sp_executesql N''SET QUOTED_IDENTIFIER ON'';
';
-- Source batch 13
SET @Command = @Command + N'EXEC sys.sp_executesql N''CREATE TABLE [dbo].[data_measure_map](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SubjID] [int] NULL,
	[SubjName] [varchar](200) NULL,
	[ImpDate] [datetime2](3) NULL,
	[EventDate] [datetime2](3) NULL,
	[ExpDate] [datetime2](3) NULL,
	[ParameterID] [int] NULL,
	[ParameterName] [varchar](200) NULL,
	[DataValue] [decimal](18, 6) NULL,
	[Unit] [varchar](32) NULL,
	[Comment] [varchar](1000) NULL,
 CONSTRAINT [PK_data_measure_map] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]'';
';
-- Source batch 14
SET @Command = @Command + N'EXEC sys.sp_executesql N''/****** Object:  Table [dbo].[field_mapping_config]    Script Date: 9/21/2026 11:08:37 AM ******/
SET ANSI_NULLS ON'';
';
-- Source batch 15
SET @Command = @Command + N'EXEC sys.sp_executesql N''SET QUOTED_IDENTIFIER ON'';
';
-- Source batch 16
SET @Command = @Command + N'EXEC sys.sp_executesql N''CREATE TABLE [dbo].[field_mapping_config](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Direction] [varchar](10) NULL,
	[SourceSystem] [varchar](200) NULL,
	[SourceField] [varchar](200) NULL,
	[InTargetField] [varchar](200) NULL,
	[TransformExpr] [varchar](500) NULL,
	[IsActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]'';
';
-- Source batch 17
SET @Command = @Command + N'EXEC sys.sp_executesql N''/****** Object:  Table [dbo].[list_measurement_parameter]    Script Date: 9/21/2026 11:08:37 AM ******/
SET ANSI_NULLS ON'';
';
-- Source batch 18
SET @Command = @Command + N'EXEC sys.sp_executesql N''SET QUOTED_IDENTIFIER ON'';
';
-- Source batch 19
SET @Command = @Command + N'EXEC sys.sp_executesql N''CREATE TABLE [dbo].[list_measurement_parameter](
	[ID] [int] NOT NULL,
	[ParameterName] [varchar](200) NOT NULL,
	[UnitCode] [varchar](32) NULL,
	[Description] [varchar](500) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_list_measurement_parameter] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]'';
';
-- Source batch 20
SET @Command = @Command + N'EXEC sys.sp_executesql N''SET IDENTITY_INSERT [dbo].[data_measure_map] ON 

INSERT [dbo].[data_measure_map] ([ID], [SubjID], [SubjName], [ImpDate], [EventDate], [ExpDate], [ParameterID], [ParameterName], [DataValue], [Unit], [Comment]) VALUES (1, 1, N''''Anonymized Patient-1'''', CAST(N''''2026-09-18T13:59:41.5620000'''' AS DateTime2), CAST(N''''2026-09-17T09:00:00.0000000'''' AS DateTime2), CAST(N''''2026-09-18T13:51:16.3790000'''' AS DateTime2), 1, N''''Glucose'''', CAST(5.800000 AS Decimal(18, 6)), N''''mmol/L'''', NULL)
INSERT [dbo].[data_measure_map] ([ID], [SubjID], [SubjName], [ImpDate], [EventDate], [ExpDate], [ParameterID], [ParameterName], [DataValue], [Unit], [Comment]) VALUES (2, 1, N''''Anonymized Patient-1'''', CAST(N''''2026-09-18T13:59:41.5690000'''' AS DateTime2), CAST(N''''2026-09-17T09:05:00.0000000'''' AS DateTime2), CAST(N''''2026-09-18T13:51:16.3790000'''' AS DateTime2), 2, N''''Temperature'''', CAST(36.700000 AS Decimal(18, 6)), N''''C'''', NULL)
INSERT [dbo].[data_measure_map] ([ID], [SubjID], [SubjName], [ImpDate], [EventDate], [ExpDate], [ParameterID], [ParameterName], [DataValue], [Unit], [Comment]) VALUES (3, 1, N''''Anonymized Patient-1'''', CAST(N''''2026-09-18T13:59:41.5710000'''' AS DateTime2), CAST(N''''2026-09-17T09:10:00.0000000'''' AS DateTime2), CAST(N''''2026-09-18T13:51:16.3790000'''' AS DateTime2), 3, N''''CRP'''', CAST(2.400000 AS Decimal(18, 6)), N''''mg/L'''', NULL)
INSERT [dbo].[data_measure_map] ([ID], [SubjID], [SubjName], [ImpDate], [EventDate], [ExpDate], [ParameterID], [ParameterName], [DataValue], [Unit], [Comment]) VALUES (4, 2, N''''Anonymized Patient-2'''', CAST(N''''2026-09-18T13:59:41.5710000'''' AS DateTime2), CAST(N''''2026-09-17T10:00:00.0000000'''' AS DateTime2), CAST(N''''2026-09-18T13:51:16.3790000'''' AS DateTime2), 1, N''''Glucose'''', CAST(6.200000 AS Decimal(18, 6)), N''''mmol/L'''', NULL)
INSERT [dbo';
SET @Command = @Command + N'].[data_measure_map] ([ID], [SubjID], [SubjName], [ImpDate], [EventDate], [ExpDate], [ParameterID], [ParameterName], [DataValue], [Unit], [Comment]) VALUES (5, 2, N''''Anonymized Patient-2'''', CAST(N''''2026-09-18T13:59:41.5710000'''' AS DateTime2), CAST(N''''2026-09-17T10:05:00.0000000'''' AS DateTime2), CAST(N''''2026-09-18T13:51:16.3790000'''' AS DateTime2), 2, N''''Temperature'''', CAST(37.200000 AS Decimal(18, 6)), N''''C'''', NULL)
INSERT [dbo].[data_measure_map] ([ID], [SubjID], [SubjName], [ImpDate], [EventDate], [ExpDate], [ParameterID], [ParameterName], [DataValue], [Unit], [Comment]) VALUES (6, 2, N''''Anonymized Patient-2'''', CAST(N''''2026-09-18T13:59:41.5720000'''' AS DateTime2), CAST(N''''2026-09-17T10:10:00.0000000'''' AS DateTime2), CAST(N''''2026-09-18T13:51:16.3790000'''' AS DateTime2), 3, N''''CRP'''', CAST(6.800000 AS Decimal(18, 6)), N''''mg/L'''', NULL)
INSERT [dbo].[data_measure_map] ([ID], [SubjID], [SubjName], [ImpDate], [EventDate], [ExpDate], [ParameterID], [ParameterName], [DataValue], [Unit], [Comment]) VALUES (7, 3, N''''Anonymized Patient-3'''', CAST(N''''2026-09-18T13:59:41.5720000'''' AS DateTime2), CAST(N''''2026-09-17T11:00:00.0000000'''' AS DateTime2), CAST(N''''2026-09-18T13:51:16.3790000'''' AS DateTime2), 1, N''''Glucose'''', CAST(4.900000 AS Decimal(18, 6)), N''''mmol/L'''', NULL)
INSERT [dbo].[data_measure_map] ([ID], [SubjID], [SubjName], [ImpDate], [EventDate], [ExpDate], [ParameterID], [ParameterName], [DataValue], [Unit], [Comment]) VALUES (8, 3, N''''Anonymized Patient-3'''', CAST(N''''2026-09-18T13:59:41.5720000'''' AS DateTime2), CAST(N''''2026-09-17T11:05:00.0000000'''' AS DateTime2), CAST(N''''2026-09-18T13:51:16.3790000'''' AS DateTime2), 2, N''''Temperature'''', CAST(38.100000 AS Decimal(18, 6)), N''''C'''', NULL)
INSERT [dbo].[data_measure_map] ([ID], [SubjID], [SubjName], [ImpDate], [EventDate], [ExpDate], [';
SET @Command = @Command + N'ParameterID], [ParameterName], [DataValue], [Unit], [Comment]) VALUES (9, 3, N''''Anonymized Patient-3'''', CAST(N''''2026-09-18T13:59:41.5740000'''' AS DateTime2), CAST(N''''2026-09-17T11:10:00.0000000'''' AS DateTime2), CAST(N''''2026-09-18T13:51:16.3790000'''' AS DateTime2), 3, N''''CRP'''', CAST(18.500000 AS Decimal(18, 6)), N''''mg/L'''', NULL)
INSERT [dbo].[data_measure_map] ([ID], [SubjID], [SubjName], [ImpDate], [EventDate], [ExpDate], [ParameterID], [ParameterName], [DataValue], [Unit], [Comment]) VALUES (10, 1, N''''Anonymized Patient-1'''', CAST(N''''2026-09-18T14:02:28.9120000'''' AS DateTime2), CAST(N''''2026-09-17T09:00:00.0000000'''' AS DateTime2), CAST(N''''2026-09-18T13:51:16.3790000'''' AS DateTime2), 1, N''''Glucose'''', CAST(5.850000 AS Decimal(18, 6)), N''''mmol/L'''', N''''Imported CSV test'''')
INSERT [dbo].[data_measure_map] ([ID], [SubjID], [SubjName], [ImpDate], [EventDate], [ExpDate], [ParameterID], [ParameterName], [DataValue], [Unit], [Comment]) VALUES (11, 1, N''''Anonymized Patient-1'''', CAST(N''''2026-09-18T14:02:28.9160000'''' AS DateTime2), CAST(N''''2026-09-17T09:05:00.0000000'''' AS DateTime2), CAST(N''''2026-09-18T13:51:16.3790000'''' AS DateTime2), 2, N''''Temperature'''', CAST(36.800000 AS Decimal(18, 6)), N''''C'''', N''''External source demo'''')
INSERT [dbo].[data_measure_map] ([ID], [SubjID], [SubjName], [ImpDate], [EventDate], [ExpDate], [ParameterID], [ParameterName], [DataValue], [Unit], [Comment]) VALUES (12, 1, N''''Anonymized Patient-1'''', CAST(N''''2026-09-18T14:02:28.9210000'''' AS DateTime2), CAST(N''''2026-09-17T09:10:00.0000000'''' AS DateTime2), CAST(N''''2026-09-18T13:51:16.3790000'''' AS DateTime2), 3, N''''CRP'''', CAST(2.400000 AS Decimal(18, 6)), N''''mg/L'''', NULL)
INSERT [dbo].[data_measure_map] ([ID], [SubjID], [SubjName], [ImpDate], [EventDate], [ExpDate], [ParameterID], [ParameterName], [DataValue], [Unit';
SET @Command = @Command + N'], [Comment]) VALUES (13, 2, N''''Anonymized Patient-2'''', CAST(N''''2026-09-18T14:02:28.9240000'''' AS DateTime2), CAST(N''''2026-09-17T10:00:00.0000000'''' AS DateTime2), CAST(N''''2026-09-18T13:51:16.3790000'''' AS DateTime2), 1, N''''Glucose'''', CAST(6.200000 AS Decimal(18, 6)), N''''mmol/L'''', NULL)
INSERT [dbo].[data_measure_map] ([ID], [SubjID], [SubjName], [ImpDate], [EventDate], [ExpDate], [ParameterID], [ParameterName], [DataValue], [Unit], [Comment]) VALUES (14, 2, N''''Anonymized Patient-2'''', CAST(N''''2026-09-18T14:02:28.9260000'''' AS DateTime2), CAST(N''''2026-09-17T10:05:00.0000000'''' AS DateTime2), CAST(N''''2026-09-18T13:51:16.3790000'''' AS DateTime2), 2, N''''Temperature'''', CAST(37.200000 AS Decimal(18, 6)), N''''C'''', NULL)
INSERT [dbo].[data_measure_map] ([ID], [SubjID], [SubjName], [ImpDate], [EventDate], [ExpDate], [ParameterID], [ParameterName], [DataValue], [Unit], [Comment]) VALUES (15, 2, N''''Anonymized Patient-2'''', CAST(N''''2026-09-18T14:02:28.9260000'''' AS DateTime2), CAST(N''''2026-09-17T10:10:00.0000000'''' AS DateTime2), CAST(N''''2026-09-18T13:51:16.3790000'''' AS DateTime2), 3, N''''CRP'''', CAST(6.800000 AS Decimal(18, 6)), N''''mg/L'''', NULL)
INSERT [dbo].[data_measure_map] ([ID], [SubjID], [SubjName], [ImpDate], [EventDate], [ExpDate], [ParameterID], [ParameterName], [DataValue], [Unit], [Comment]) VALUES (16, 3, N''''Anonymized Patient-3'''', CAST(N''''2026-09-18T14:02:28.9260000'''' AS DateTime2), CAST(N''''2026-09-17T11:00:00.0000000'''' AS DateTime2), CAST(N''''2026-09-18T13:51:16.3790000'''' AS DateTime2), 1, N''''Glucose'''', CAST(4.900000 AS Decimal(18, 6)), N''''mmol/L'''', NULL)
INSERT [dbo].[data_measure_map] ([ID], [SubjID], [SubjName], [ImpDate], [EventDate], [ExpDate], [ParameterID], [ParameterName], [DataValue], [Unit], [Comment]) VALUES (17, 3, N''''Anonymized Patient-3'''', CAST(N''''2026-09-18T14:02:2';
SET @Command = @Command + N'8.9260000'''' AS DateTime2), CAST(N''''2026-09-17T11:05:00.0000000'''' AS DateTime2), CAST(N''''2026-09-18T13:51:16.3790000'''' AS DateTime2), 2, N''''Temperature'''', CAST(38.100000 AS Decimal(18, 6)), N''''C'''', NULL)
INSERT [dbo].[data_measure_map] ([ID], [SubjID], [SubjName], [ImpDate], [EventDate], [ExpDate], [ParameterID], [ParameterName], [DataValue], [Unit], [Comment]) VALUES (18, 3, N''''Anonymized Patient-3'''', CAST(N''''2026-09-18T14:02:28.9280000'''' AS DateTime2), CAST(N''''2026-09-17T11:10:00.0000000'''' AS DateTime2), CAST(N''''2026-09-18T13:51:16.3790000'''' AS DateTime2), 3, N''''CRP'''', CAST(18.500000 AS Decimal(18, 6)), N''''mg/L'''', NULL)
SET IDENTITY_INSERT [dbo].[data_measure_map] OFF'';
';
-- Source batch 21
SET @Command = @Command + N'EXEC sys.sp_executesql N''SET IDENTITY_INSERT [dbo].[data_measurement] ON 

INSERT [dbo].[data_measurement] ([ID], [PatientID], [PatientName], [MeasurDate], [ParameterID], [ParameterName], [MeasurVal], [UnitCode], [SourceSystemID], [SourceSystemName], [ImportBatchID], [ExportBatchID], [CreateDate], [UpdDate], [Comment], [ExpDate]) VALUES (1, 1, N''''patient1'''', CAST(N''''2026-09-17T09:00:00.0000000'''' AS DateTime2), 1, N''''Glucose'''', CAST(5.800000 AS Decimal(18, 6)), N''''mmol/L'''', 1, N''''TestSource'''', NULL, NULL, CAST(N''''2026-09-17T12:56:59.3200000'''' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[data_measurement] ([ID], [PatientID], [PatientName], [MeasurDate], [ParameterID], [ParameterName], [MeasurVal], [UnitCode], [SourceSystemID], [SourceSystemName], [ImportBatchID], [ExportBatchID], [CreateDate], [UpdDate], [Comment], [ExpDate]) VALUES (2, 1, N''''patient1'''', CAST(N''''2026-09-17T09:05:00.0000000'''' AS DateTime2), 2, N''''Temperature'''', CAST(36.700000 AS Decimal(18, 6)), N''''C'''', 1, N''''TestSource'''', NULL, NULL, CAST(N''''2026-09-17T12:58:10.7560000'''' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[data_measurement] ([ID], [PatientID], [PatientName], [MeasurDate], [ParameterID], [ParameterName], [MeasurVal], [UnitCode], [SourceSystemID], [SourceSystemName], [ImportBatchID], [ExportBatchID], [CreateDate], [UpdDate], [Comment], [ExpDate]) VALUES (3, 1, N''''patient1'''', CAST(N''''2026-09-17T09:10:00.0000000'''' AS DateTime2), 3, N''''CRP'''', CAST(2.400000 AS Decimal(18, 6)), N''''mg/L'''', 1, N''''TestSource'''', NULL, NULL, CAST(N''''2026-09-17T12:58:10.7560000'''' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[data_measurement] ([ID], [PatientID], [PatientName], [MeasurDate], [ParameterID], [ParameterName], [MeasurVal], [UnitCode], [SourceSystemID], [SourceSystemName], [ImportBatchID], [ExportBatchID], [Cr';
SET @Command = @Command + N'eateDate], [UpdDate], [Comment], [ExpDate]) VALUES (4, 2, N''''patient2'''', CAST(N''''2026-09-17T10:00:00.0000000'''' AS DateTime2), 1, N''''Glucose'''', CAST(6.200000 AS Decimal(18, 6)), N''''mmol/L'''', 1, N''''TestSource'''', NULL, NULL, CAST(N''''2026-09-17T12:58:10.7560000'''' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[data_measurement] ([ID], [PatientID], [PatientName], [MeasurDate], [ParameterID], [ParameterName], [MeasurVal], [UnitCode], [SourceSystemID], [SourceSystemName], [ImportBatchID], [ExportBatchID], [CreateDate], [UpdDate], [Comment], [ExpDate]) VALUES (5, 2, N''''patient2'''', CAST(N''''2026-09-17T10:05:00.0000000'''' AS DateTime2), 2, N''''Temperature'''', CAST(37.200000 AS Decimal(18, 6)), N''''C'''', 1, N''''TestSource'''', NULL, NULL, CAST(N''''2026-09-17T12:58:10.7560000'''' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[data_measurement] ([ID], [PatientID], [PatientName], [MeasurDate], [ParameterID], [ParameterName], [MeasurVal], [UnitCode], [SourceSystemID], [SourceSystemName], [ImportBatchID], [ExportBatchID], [CreateDate], [UpdDate], [Comment], [ExpDate]) VALUES (6, 2, N''''patient2'''', CAST(N''''2026-09-17T10:10:00.0000000'''' AS DateTime2), 3, N''''CRP'''', CAST(6.800000 AS Decimal(18, 6)), N''''mg/L'''', 1, N''''TestSource'''', NULL, NULL, CAST(N''''2026-09-17T12:58:10.7560000'''' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[data_measurement] ([ID], [PatientID], [PatientName], [MeasurDate], [ParameterID], [ParameterName], [MeasurVal], [UnitCode], [SourceSystemID], [SourceSystemName], [ImportBatchID], [ExportBatchID], [CreateDate], [UpdDate], [Comment], [ExpDate]) VALUES (7, 3, N''''patient3'''', CAST(N''''2026-09-17T11:00:00.0000000'''' AS DateTime2), 1, N''''Glucose'''', CAST(4.900000 AS Decimal(18, 6)), N''''mmol/L'''', 1, N''''TestSource'''', NULL, NULL, CAST(N''''2026-09-17T12:58:10.7560000'''' AS DateTime2), NULL, NULL, N';
SET @Command = @Command + N'ULL)
INSERT [dbo].[data_measurement] ([ID], [PatientID], [PatientName], [MeasurDate], [ParameterID], [ParameterName], [MeasurVal], [UnitCode], [SourceSystemID], [SourceSystemName], [ImportBatchID], [ExportBatchID], [CreateDate], [UpdDate], [Comment], [ExpDate]) VALUES (8, 3, N''''patient3'''', CAST(N''''2026-09-17T11:05:00.0000000'''' AS DateTime2), 2, N''''Temperature'''', CAST(38.100000 AS Decimal(18, 6)), N''''C'''', 1, N''''TestSource'''', NULL, NULL, CAST(N''''2026-09-17T12:58:10.7560000'''' AS DateTime2), NULL, NULL, NULL)
INSERT [dbo].[data_measurement] ([ID], [PatientID], [PatientName], [MeasurDate], [ParameterID], [ParameterName], [MeasurVal], [UnitCode], [SourceSystemID], [SourceSystemName], [ImportBatchID], [ExportBatchID], [CreateDate], [UpdDate], [Comment], [ExpDate]) VALUES (9, 3, N''''patient3'''', CAST(N''''2026-09-17T11:10:00.0000000'''' AS DateTime2), 3, N''''CRP'''', CAST(18.500000 AS Decimal(18, 6)), N''''mg/L'''', 1, N''''TestSource'''', NULL, NULL, CAST(N''''2026-09-17T12:58:10.7560000'''' AS DateTime2), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[data_measurement] OFF'';
';
-- Source batch 22
SET @Command = @Command + N'EXEC sys.sp_executesql N''INSERT [dbo].[list_measurement_parameter] ([ID], [ParameterName], [UnitCode], [Description], [IsActive]) VALUES (1, N''''Glucose'''', N''''mmol/L'''', N''''Blood glucose concentration'''', 1)
INSERT [dbo].[list_measurement_parameter] ([ID], [ParameterName], [UnitCode], [Description], [IsActive]) VALUES (2, N''''Temperature'''', N''''C'''', N''''Body temperature'''', 1)
INSERT [dbo].[list_measurement_parameter] ([ID], [ParameterName], [UnitCode], [Description], [IsActive]) VALUES (3, N''''CRP'''', N''''mg/L'''', N''''C-reactive protein concentration'''', 1)
INSERT [dbo].[list_measurement_parameter] ([ID], [ParameterName], [UnitCode], [Description], [IsActive]) VALUES (4, N''''Hemoglobin'''', N''''g/dL'''', N''''Hemoglobin concentration in blood'''', 1)
INSERT [dbo].[list_measurement_parameter] ([ID], [ParameterName], [UnitCode], [Description], [IsActive]) VALUES (5, N''''Creatinine'''', N''''mg/dL'''', N''''Creatinine concentration'''', 1)
INSERT [dbo].[list_measurement_parameter] ([ID], [ParameterName], [UnitCode], [Description], [IsActive]) VALUES (6, N''''Heart Rate'''', N''''bpm'''', N''''Heart rate in beats per minute'''', 1)
INSERT [dbo].[list_measurement_parameter] ([ID], [ParameterName], [UnitCode], [Description], [IsActive]) VALUES (7, N''''Oxygen Saturation'''', N''''%'''', N''''Peripheral oxygen saturation'''', 1)'';
';
-- Source batch 23
SET @Command = @Command + N'EXEC sys.sp_executesql N''ALTER TABLE [dbo].[data_measure_map] ADD  CONSTRAINT [DF_data_measure_map_SubjName]  DEFAULT (''''Anonymized Patient'''') FOR [SubjName]'';
';
-- Source batch 24
SET @Command = @Command + N'EXEC sys.sp_executesql N''ALTER TABLE [dbo].[data_measurement] ADD  CONSTRAINT [DF_data_measurement_PatientName]  DEFAULT (''''Anonymized Patient'''') FOR [PatientName]'';
';
-- Source batch 25
SET @Command = @Command + N'EXEC sys.sp_executesql N''ALTER TABLE [dbo].[data_measurement] ADD  CONSTRAINT [DF_data_measurement_CreateDate]  DEFAULT (sysutcdatetime()) FOR [CreateDate]'';
';
-- Source batch 26
SET @Command = @Command + N'EXEC sys.sp_executesql N''ALTER TABLE [dbo].[field_mapping_config] ADD  DEFAULT ((1)) FOR [IsActive]'';
';
-- Source batch 27
SET @Command = @Command + N'EXEC sys.sp_executesql N''ALTER TABLE [dbo].[list_measurement_parameter] ADD  CONSTRAINT [DF_list_measurement_parameter_IsActive]  DEFAULT ((1)) FOR [IsActive]'';
';
-- Source batch 28
SET @Command = @Command + N'EXEC sys.sp_executesql N''ALTER TABLE [dbo].[data_measurement]  WITH CHECK ADD  CONSTRAINT [FK_data_measurement_measurement_parameter] FOREIGN KEY([ParameterID])
REFERENCES [dbo].[list_measurement_parameter] ([ID])'';
';
-- Source batch 29
SET @Command = @Command + N'EXEC sys.sp_executesql N''ALTER TABLE [dbo].[data_measurement] CHECK CONSTRAINT [FK_data_measurement_measurement_parameter]'';
';
-- Source batch 30
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Internal unique identifier of the mapping record.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measure_map'''', @level2type=N''''COLUMN'''',@level2name=N''''ID'''''';
';
-- Source batch 31
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Standardized numeric identifier of the subject associated with the measurement.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measure_map'''', @level2type=N''''COLUMN'''',@level2name=N''''SubjID'''''';
';
-- Source batch 32
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Standardized subject name or anonymized subject description.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measure_map'''', @level2type=N''''COLUMN'''',@level2name=N''''SubjName'''''';
';
-- Source batch 33
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Date and time when the data record was imported into the converter process.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measure_map'''', @level2type=N''''COLUMN'''',@level2name=N''''ImpDate'''''';
';
-- Source batch 34
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Date and time of the measurement or related event.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measure_map'''', @level2type=N''''COLUMN'''',@level2name=N''''EventDate'''''';
';
-- Source batch 35
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Date and time when the data record was exported from the converter process.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measure_map'''', @level2type=N''''COLUMN'''',@level2name=N''''ExpDate'''''';
';
-- Source batch 36
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Standardized numeric identifier of the measured parameter.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measure_map'''', @level2type=N''''COLUMN'''',@level2name=N''''ParameterID'''''';
';
-- Source batch 37
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Standardized human-readable name of the measured parameter.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measure_map'''', @level2type=N''''COLUMN'''',@level2name=N''''ParameterName'''''';
';
-- Source batch 38
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Standardized numeric value of the measurement.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measure_map'''', @level2type=N''''COLUMN'''',@level2name=N''''DataValue'''''';
';
-- Source batch 39
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Standardized unit of measurement.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measure_map'''', @level2type=N''''COLUMN'''',@level2name=N''''Unit'''''';
';
-- Source batch 40
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Optional standardized comment or additional information associated with the measurement.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measure_map'''', @level2type=N''''COLUMN'''',@level2name=N''''Comment'''''';
';
-- Source batch 41
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Stores standardized measurement data fields used by the converter as an intermediate exchange structure between external data sources and the internal database model.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measure_map'''''';
';
-- Source batch 42
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Internal unique identifier of the measurement record.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measurement'''', @level2type=N''''COLUMN'''',@level2name=N''''ID'''''';
';
-- Source batch 43
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Identifier of the patient associated with the measurement. The value may originate from an anonymized or pseudonymized external subject identifier.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measurement'''', @level2type=N''''COLUMN'''',@level2name=N''''PatientID'''''';
';
-- Source batch 44
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Patient display name. If no value is supplied by the mapping process, the default value Anonymized Patient is used.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measurement'''', @level2type=N''''COLUMN'''',@level2name=N''''PatientName'''''';
';
-- Source batch 45
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Date and time of the measurement or related source event.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measurement'''', @level2type=N''''COLUMN'''',@level2name=N''''MeasurDate'''''';
';
-- Source batch 46
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Identifier or code of the measured parameter.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measurement'''', @level2type=N''''COLUMN'''',@level2name=N''''ParameterID'''''';
';
-- Source batch 47
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Human-readable name or description of the measured parameter.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measurement'''', @level2type=N''''COLUMN'''',@level2name=N''''ParameterName'''''';
';
-- Source batch 48
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Numeric value of the measurement.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measurement'''', @level2type=N''''COLUMN'''',@level2name=N''''MeasurVal'''''';
';
-- Source batch 49
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Unit of measurement.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measurement'''', @level2type=N''''COLUMN'''',@level2name=N''''UnitCode'''''';
';
-- Source batch 50
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Internal identifier of the system or organization that supplied the data.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measurement'''', @level2type=N''''COLUMN'''',@level2name=N''''SourceSystemID'''''';
';
-- Source batch 51
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Human-readable name of the system or organization that supplied the data.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measurement'''', @level2type=N''''COLUMN'''',@level2name=N''''SourceSystemName'''''';
';
-- Source batch 52
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Unique identifier of the import batch through which the record was received.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measurement'''', @level2type=N''''COLUMN'''',@level2name=N''''ImportBatchID'''''';
';
-- Source batch 53
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Unique identifier of the export batch through which the record was sent to an external system or partner.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measurement'''', @level2type=N''''COLUMN'''',@level2name=N''''ExportBatchID'''''';
';
-- Source batch 54
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''UTC date and time when the record was created in the converter database.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measurement'''', @level2type=N''''COLUMN'''',@level2name=N''''CreateDate'''''';
';
-- Source batch 55
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''UTC date and time when the record was last updated. NULL indicates that the record has not been updated after creation.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measurement'''', @level2type=N''''COLUMN'''',@level2name=N''''UpdDate'''''';
';
-- Source batch 56
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Optional comment or additional information associated with the measurement record.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measurement'''', @level2type=N''''COLUMN'''',@level2name=N''''Comment'''''';
';
-- Source batch 57
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''UTC date and time when the record was exported to an external system or research partner.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measurement'''', @level2type=N''''COLUMN'''',@level2name=N''''ExpDate'''''';
';
-- Source batch 58
SET @Command = @Command + N'EXEC sys.sp_executesql N''EXEC sys.sp_addextendedproperty @name=N''''MS_Description'''', @value=N''''Stores measurement-related data received from external systems and research partners. Source-specific structures are converted through the mapping layer before records are stored in this table.'''' , @level0type=N''''SCHEMA'''',@level0name=N''''dbo'''', @level1type=N''''TABLE'''',@level1name=N''''data_measurement'''''';
';
SET @Command = @Command + N'
COMMIT TRANSACTION;
END TRY
BEGIN CATCH
IF XACT_STATE() <> 0 ROLLBACK TRANSACTION;
THROW;
END CATCH;';
EXEC sys.sp_executesql @Command;
PRINT N'Database created successfully: ' + QUOTENAME(@DatabaseName);
